<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ЛАЙТ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="bg-main">

<!-- Боковые кнопки -->
<div class="sidebar">
    <a href="/pest">PEST</a>
    <a href="/swot">SWOT</a>
    <a href="/roadmap">Roadmap</a>
</div>

<!-- Центральный блок -->
<div class="main">
    <h1>ЛАЙТ — мы за безопасность</h1>

    <p class="description">
        Приложение для создания безопасного маршрута по освещённым территориям в тёмное время суток
    </p>
</div>

</body>
</html>