<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>PEST анализ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1 style="text-align:center;">PEST-анализ</h1>

<table>
<tr>
<th>Категория</th>
<th>Риск</th>
<th>Последствия</th>
<th>Причина</th>
</tr>

<tr><td>P</td><td>Игнорирование чиновниками</td><td>Нет взаимодействия с властями</td><td>Недоверие к приложению</td></tr>
<tr><td>P</td><td>Жесткие правила данных</td><td>Усложнение работы</td><td>Борьба с преступностью</td></tr>

<tr><td>E</td><td>Бюджетная дыра</td><td>Отзывы бесполезны</td><td>Недофинансирование</td></tr>
<tr><td>E</td><td>Прекращение финансирования</td><td>Закрытие проекта</td><td>Нет инвестиций</td></tr>

<tr><td>S</td><td>Сопротивление жителей</td><td>Меньше отчетов</td><td>Конфликт интересов</td></tr>
<tr><td>S</td><td>Удаление приложения</td><td>Нет активности</td><td>Выученная беспомощность</td></tr>

<tr><td>T</td><td>Погрешности оборудования</td><td>Ошибки оценки</td><td>Разные камеры</td></tr>
<tr><td>T</td><td>Взлом базы</td><td>Потеря доверия</td><td>Рост преступности</td></tr>

</table>

<a href="/">← Назад</a>

</body>
</html>