<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>SWOT анализ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1 style="text-align:center;">SWOT-анализ</h1>

<table>
<tr>
<th>Сильные стороны</th>
<th>Слабые стороны</th>
</tr>

<tr>
<td>
1. Понятный интерфейс<br>
2. Бесплатный доступ<br>
3. Реальное время<br>
4. Безопасные маршруты
</td>
<td>
1. Требуется финансирование<br>
2. Нужны специалисты<br>
3. Нет персонализации
</td>
</tr>

<tr>
<th>Возможности</th>
<th>Угрозы</th>
</tr>

<tr>
<td>
1. Повышение безопасности<br>
2. Информация о темных зонах<br>
3. Интерес администрации<br>
4. Участие пользователей
</td>
<td>
1. Сложность понимания<br>
2. Нежелание переходить<br>
3. Игнорирование властями
</td>
</tr>

</table>

<a href="/">← Назад</a>

</body>
</html>